body{
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
}
:root {
    --colores-amarillo-fuerte: #fdff00;
    --colores-azul: #505c7c;
}
@font-face {
    font-family: "helvetia";
    src: url("/fonts/Neue.woff2") format("woff2"), url("/fonts/Neue.woff") format("woff");
  }
    
    
        
  

.container{
    width:120rem;
height: 67.5rem;
background-color: var(--colores-azul);
display: flex;
justify-content: center;
align-items: center;
}
main{
width: 18.625rem;
height: 6.125rem;
background-color: var(--colores-amarillo-fuerte);
display: flex;
align-items: center;
justify-content: center;
border-radius: .625rem;
box-shadow:0 4px 0 0 black;
font-family: "helvetia";


}

